@page
@model ParkNet_JoaoMendes.Pages.Customer.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.DateofBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.DateofBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.DriversLicense)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.DriversLicense)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CreditCard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CreditCard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.VehicleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.VehicleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.TransactionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.TransactionId)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Customer.CostumerId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
