@page
@model ParkNet_JoaoMendes.Pages.Customer.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Customer</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.DateofBirth)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.DateofBirth)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.DriversLicense)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.DriversLicense)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.CreditCard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.CreditCard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.VehicleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.VehicleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Customer.TransactionId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Customer.TransactionId)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Customer.CostumerId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
